@import url(/CSS/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);
    font-size: 16px;
}

body {
    font-family: 'Inter', sans-serif;
}

p {
    color: rgba(32, 32, 71, 0.5);
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.main-wrapper, .testimonial-wrapper, .picture-and-shapes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-wrapper {
    justify-content: center;
}

.testimonial-wrapper {
    margin: 2rem 1.5rem;
}

.picture-and-shapes {
    align-items: center;
    max-width: 327px;
    height: 70vh;
    width: 100%;
    position: relative;
}

.person-image {
    max-width: 15.875rem;
    max-height: 15.813rem;
    position: absolute;
    box-shadow: 0px 5px 52px 2px rgba(153,117,208,0.63);
}

.shapes {
    position: absolute;
    max-width: 19rem;
    z-index: -10;
    
}

.toggle-div {
    width: 50px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 20px;
    z-index: 999;
    background-color: white;
    position: absolute;
    top: 70%;
    bottom: 0;
}

.toggle-div img {
    width: 6px;
    height: 12px;
}

/* text styling */
.text-wrapper, .quote-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text-wrapper {
    gap: 1rem;
}

.quote-div {
    position: relative;
}

.quotation {
    width: 60px;
    height: 50px;
    position: absolute;
    z-index: -1;
}

.quote-text {
    padding-top: 1.5rem;
}

.name {
    color: rgba(32, 32, 71, 1);
    font-size: 0.938rem;
    font-weight: 700;
}

.role {
    color: rgba(185, 185, 206, 1);
    font-size: 0.938rem;
    font-weight: 500;
}